In [1]:
import pandas as pd

In [2]:
import numpy as np

# Unstack

In [3]:
data1 = pd.Series(np.random.randn(9),
                 index = [['a','a','a','b','b','c','c','d','d'],[1,2,3,1,3,1,2,2,3]])

In [4]:
data1

a  1   -1.015073
   2   -0.105388
   3    0.625524
b  1   -0.373373
   3   -0.662447
c  1   -1.054500
   2    0.750790
d  2    0.201533
   3   -1.488467
dtype: float64

In [5]:
data1.unstack() # sort by dataframe

          1         2         3
a -1.015073 -0.105388  0.625524
b -0.373373       NaN -0.662447
c -1.054500  0.750790       NaN
d       NaN  0.201533 -1.488467

# Stack()

In [7]:
data1.unstack().stack() # will do series

a  1   -1.015073
   2   -0.105388
   3    0.625524
b  1   -0.373373
   3   -0.662447
c  1   -1.054500
   2    0.750790
d  2    0.201533
   3   -1.488467
dtype: float64