In [1]:
import pandas as pd

In [2]:
import numpy as np

In [ ]:
df2.to_excel("praktikum_datasets/newcars.xlsx", index = False,columns=['company','body-style','price'])

In [7]:
df2 = pd.read_csv("praktikum_datasets/automobile_data.csv",index_col=0)

In [13]:
df2= pd.read_excel("praktikum_datasets/newcars.xlsx")

In [14]:
df2

        company   body-style    price
0   alfa-romero  convertible  13495.0
1   alfa-romero  convertible  16500.0
2   alfa-romero    hatchback  16500.0
3          audi        sedan  13950.0
4          audi        sedan  17450.0
..          ...          ...      ...
56   volkswagen        sedan   7975.0
57   volkswagen        sedan   7995.0
58   volkswagen        sedan   9995.0
59        volvo        sedan  12940.0
60        volvo        wagon  13415.0

[61 rows x 3 columns]

In [15]:
hdfobj = pd.HDFStore("data.h5")

In [17]:
hdfobj.put("carsdata",df2)

In [18]:
df = pd.read_excel("praktikum_datasets/uzbekistan.xlsx",index_col=0, names=['hudud','maydon','aholi'])

In [19]:
df

                               maydon    aholi
hudud
Andijon viloyati                 4200  1899000
Buxoro viloyati                 39400  1384700
Fargʻona viloyati                6800  2597000
Jizzax viloyati                 20500   910500
Xorazm viloyati                  6300  1200000
Namangan viloyati                7900  1862000
Navoiy viloyati                110800   767500
Qashqadaryo viloyati            28400  2029000
Qoraqalpogʻiston Respublikasi  160000  1200000
Samarqand viloyati              16400  2322000
Sirdaryo viloyati                5100   648100
Surxondaryo viloyati            20800  1676000
Toshkent viloyati               15300  4450000

In [20]:
hdfobj.put("uzdata",df)

In [21]:
hdfobj.keys()

['/carsdata', '/uzdata']

In [22]:
hdfobj['uzdata']

                               maydon    aholi
hudud
Andijon viloyati                 4200  1899000
Buxoro viloyati                 39400  1384700
Fargʻona viloyati                6800  2597000
Jizzax viloyati                 20500   910500
Xorazm viloyati                  6300  1200000
Namangan viloyati                7900  1862000
Navoiy viloyati                110800   767500
Qashqadaryo viloyati            28400  2029000
Qoraqalpogʻiston Respublikasi  160000  1200000
Samarqand viloyati              16400  2322000
Sirdaryo viloyati                5100   648100
Surxondaryo viloyati            20800  1676000
Toshkent viloyati               15300  4450000

In [23]:
hdfobj['carsdata']

        company   body-style    price
0   alfa-romero  convertible  13495.0
1   alfa-romero  convertible  16500.0
2   alfa-romero    hatchback  16500.0
3          audi        sedan  13950.0
4          audi        sedan  17450.0
..          ...          ...      ...
56   volkswagen        sedan   7975.0
57   volkswagen        sedan   7995.0
58   volkswagen        sedan   9995.0
59        volvo        sedan  12940.0
60        volvo        wagon  13415.0

[61 rows x 3 columns]

In [25]:
hdfobj.close()

In [26]:
hdfobj['carsdata']

ClosedFileError: data.h5 file is not open!

In [28]:
data  = pd.read_hdf("data.h5",key="uzdata")

ValueError: The file 'data.h5' is already opened, but not in read-only mode (as requested).

In [29]:
data

NameError: name 'data' is not defined

In [30]:
hdfobj = pd.HDFStore("data.h5")

In [31]:
data  = pd.read_hdf("data.h5", key="uzdata")

ValueError: The file 'data.h5' is already opened, but not in read-only mode (as requested).