In [1]:
import pandas as pd
import numpy as np

In [2]:
s1 = pd.Series([7.3, -2.5, 3.4, 1.5], index=['a', 'c', 'd', 'e'])
s2 = pd.Series([-2.1, 3.6, -1.5, 4, 3.1], index=['a', 'c', 'e', 'f', 'g'])

In [3]:
df = pd.DataFrame(np.random.randn(3,4), index=list('abc'), columns=['Olma','Anor','Qovun','Anjir'])
df

       Olma      Anor     Qovun     Anjir
a -0.262718 -0.903356  0.165817 -0.665129
b -0.004863  1.453417 -0.797989  0.770085
c  0.356123 -0.405283  0.661469  0.417832

In [4]:
np.abs(-5)

5

In [5]:
np.abs(df)

       Olma      Anor     Qovun     Anjir
a  0.262718  0.903356  0.165817  0.665129
b  0.004863  1.453417  0.797989  0.770085
c  0.356123  0.405283  0.661469  0.417832

In [6]:
np.round(df)

   Olma  Anor  Qovun  Anjir
a  -0.0  -1.0    0.0   -1.0
b  -0.0   1.0   -1.0    1.0
c   0.0  -0.0    1.0    0.0

In [7]:
df.mean()

Olma     0.029514
Anor     0.048259
Qovun    0.009766
Anjir    0.174263
dtype: float64

In [8]:
df['Olma']

a   -0.262718
b   -0.004863
c    0.356123
Name: Olma, dtype: float64

In [16]:
df.apply(np.abs) # apply function inside apply

       Olma      Anor     Qovun     Anjir
a  0.262718  0.903356  0.165817  0.665129
b  0.004863  1.453417  0.797989  0.770085
c  0.356123  0.405283  0.661469  0.417832

In [18]:
df.apply(sum,axis = 1)

a   -1.665386
b    1.420650
c    1.030141
dtype: float64

In [19]:
f = lambda x: x.max() - x.min()

In [20]:
df.apply(f)

Olma     0.618841
Anor     2.356774
Qovun    1.459457
Anjir    1.435214
dtype: float64

NameError: name 'x' is not defined

In [22]:
df = pd.DataFrame(np.arange(13), index=list('abc'), columns=['Olma','Anor','Qovun','Anjir'])
df

ValueError: Shape of passed values is (13, 1), indices imply (3, 4)