In [1]:
import pandas as pd

In [2]:
data = {
    'Yil':[2021,2020,2019,2017,2016,2015,2010],
    'Population':[33.9,33.5,32.9,31.9,31.4,40.9,28.5],
    'Temp':[1.54,1.48,1.62,1.65,1.66,1.64,1.53]
}

In [3]:
df = pd.DataFrame(data)

In [4]:
df

    Yil  Population  Temp
0  2021        33.9  1.54
1  2020        33.5  1.48
2  2019        32.9  1.62
3  2017        31.9  1.65
4  2016        31.4  1.66
5  2015        40.9  1.64
6  2010        28.5  1.53

In [5]:
df.index

RangeIndex(start=0, stop=7, step=1)

In [6]:
df.columns

Index(['Yil', 'Population', 'Temp'], dtype='object')

In [7]:
indexk = df.columns

In [8]:
indexk

Index(['Yil', 'Population', 'Temp'], dtype='object')

In [11]:
'Temp' in indexk

True

In [13]:
datas =  {
    'Uzbekistan':{2021:33.9,2020:33.5,2019:32.5,2017:31.9},
    'Kazakhsatn':{2021:18.9,2020:18.5,2019:18.3,2017:18.1,2016:17.8},
}

In [14]:
df2 = pd.DataFrame(datas)

In [15]:
df2

      Uzbekistan  Kazakhsatn
2021        33.9        18.9
2020        33.5        18.5
2019        32.5        18.3
2017        31.9        18.1
2016         NaN        17.8

In [16]:
2021 in df2.index

True

In [20]:
indexk[2:]

Index(['Temp'], dtype='object')

In [21]:
indexk[0]="OU"

TypeError: Index does not support mutable operations

In [23]:
df2

      Uzbekistan  Kazakhsatn
2021        33.9        18.9
2020        33.5        18.5
2019        32.5        18.3
2017        31.9        18.1
2016         NaN        17.8

In [25]:
df2.values

array([[33.9, 18.9],
       [33.5, 18.5],
       [32.5, 18.3],
       [31.9, 18.1],
       [ nan, 17.8]])