In [1]:
import pandas as pd
import numpy as np
data = {
    'Yil':[2021,2020,2019,2018,2017,2016,2015,2010],
    'Aholi_Soni':[33.9,33.5,32.9,32.5,31.9,31.4,30.9,28.5],
    'Temp':[1.54,1.48,1.56,1.62,1.65,1.66,1.64,1.53],
    'Zichlik':[79.77,78.68,77.53,76.34,75.13,73.91,72.71,67.03]
}

df = pd.DataFrame(data)

In [2]:
df

    Yil  Aholi_Soni  Temp  Zichlik
0  2021        33.9  1.54    79.77
1  2020        33.5  1.48    78.68
2  2019        32.9  1.56    77.53
3  2018        32.5  1.62    76.34
4  2017        31.9  1.65    75.13
5  2016        31.4  1.66    73.91
6  2015        30.9  1.64    72.71
7  2010        28.5  1.53    67.03

In [10]:
data = df['Aholi_Soni'] # series

In [11]:
data

0    33.9
1    33.5
2    32.9
3    32.5
4    31.9
5    31.4
6    30.9
7    28.5
Name: Aholi_Soni, dtype: float64

In [12]:
type(data)

pandas.core.series.Series

In [7]:
data = df[['Aholi_Soni']] # typ dataframe

In [8]:
data

   Aholi_Soni
0        33.9
1        33.5
2        32.9
3        32.5
4        31.9
5        31.4
6        30.9
7        28.5

In [13]:
data

0    33.9
1    33.5
2    32.9
3    32.5
4    31.9
5    31.4
6    30.9
7    28.5
Name: Aholi_Soni, dtype: float64

In [17]:
data[[0]]
type(data[[0]])

pandas.core.series.Series

In [18]:
data[0]

33.9

In [21]:
data[0:4] # index slicing

0    33.9
1    33.5
2    32.9
3    32.5
Name: Aholi_Soni, dtype: float64

0    33.9
1    33.5
2    32.9
3    32.5
Name: Aholi_Soni, dtype: float64

In [23]:
obj = pd.Series(np.arange(8.),index=['a','b','c','d','e','f','g','h'])

In [25]:
obj['a']

0.0

In [26]:
obj[['a']]

a    0.0
dtype: float64

In [27]:
obj['a':'d']

a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64

In [28]:
obj[0:4]

a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64

In [29]:
obj[['a','b']]

a    0.0
b    1.0
dtype: float64

In [30]:
obj[[1,5]]

b    1.0
f    5.0
dtype: float64

In [32]:
obj[['a','b']]

a    0.0
b    1.0
dtype: float64

In [33]:
obj['a':'c']=15

In [34]:
obj

a    15.0
b    15.0
c    15.0
d     3.0
e     4.0
f     5.0
g     6.0
h     7.0
dtype: float64

In [37]:
# filtering
obj[obj==15]

a    15.0
b    15.0
c    15.0
dtype: float64