In [28]:
import pandas as pd
import numpy as np

In [2]:
uz = {2020:33.5,2019:23.3,2018:32.4,2017:31.9,2016:31.4,2015:30.9}
kz = {2020:18.8,2019:23.3,2018:32.4,2017:31.9,2016:31.4,2015:17.9}
tj = {2020:9.5,2019:23.3,2018:32.4,2017:31.9,2016:31.4,2015:8.9}
kg = {2020:6.5,2019:23.3,2018:32.4,2017:31.9,2016:31.4,2015:6.9}
tr = {2020:6.0,2019:5.8,2018:32.4,2017:31.9,2016:31.4,2015:5.6}


df = pd.DataFrame(
{
    'Uzbekistan':uz,
    'Kazhaksatan':kz,
    'Tajikistan':tj,
    'Kyrgizstan':kg,
    'Turkmenistan':tr
})

In [3]:
df

      Uzbekistan  Kazhaksatan  Tajikistan  Kyrgizstan  Turkmenistan
2020        33.5         18.8         9.5         6.5           6.0
2019        23.3         23.3        23.3        23.3           5.8
2018        32.4         32.4        32.4        32.4          32.4
2017        31.9         31.9        31.9        31.9          31.9
2016        31.4         31.4        31.4        31.4          31.4
2015        30.9         17.9         8.9         6.9           5.6

In [4]:
df[['Uzbekistan']]

      Uzbekistan
2020        33.5
2019        23.3
2018        32.4
2017        31.9
2016        31.4
2015        30.9

In [5]:
df.loc[[2017]]

      Uzbekistan  Kazhaksatan  Tajikistan  Kyrgizstan  Turkmenistan
2017        31.9         31.9        31.9        31.9          31.9

In [6]:
df.loc[[2020]]

      Uzbekistan  Kazhaksatan  Tajikistan  Kyrgizstan  Turkmenistan
2020        33.5         18.8         9.5         6.5           6.0

In [7]:
df.loc[[2020,2018]]

      Uzbekistan  Kazhaksatan  Tajikistan  Kyrgizstan  Turkmenistan
2020        33.5         18.8         9.5         6.5           6.0
2018        32.4         32.4        32.4        32.4          32.4

In [8]:
df.loc[[2020,2015],['Uzbekistan','Tajikistan']]

      Uzbekistan  Tajikistan
2020        33.5         9.5
2015        30.9         8.9

In [10]:
df.iloc[[0,4],[0,3]] # by indexing way

      Uzbekistan  Kyrgizstan
2020        33.5         6.5
2016        31.4        31.4

In [11]:
df

      Uzbekistan  Kazhaksatan  Tajikistan  Kyrgizstan  Turkmenistan
2020        33.5         18.8         9.5         6.5           6.0
2019        23.3         23.3        23.3        23.3           5.8
2018        32.4         32.4        32.4        32.4          32.4
2017        31.9         31.9        31.9        31.9          31.9
2016        31.4         31.4        31.4        31.4          31.4
2015        30.9         17.9         8.9         6.9           5.6

In [13]:
df.at[2015,'Uzbekistan'] # single value

30.9

In [14]:
df.at[2015,'Turkmenistan']

5.6

In [17]:
df.at[2020,'Uzbekistan'] -  df.at[2015,'Uzbekistan']

2.6000000000000014

In [19]:
df.iat[2,1] # indexing at value and colum

32.4

In [26]:
nums = list(range(10,21
           ))

In [24]:
nums[0]

0

In [25]:
nums[-1]

10

In [29]:
obj = pd.Series(np.arange(10.))

In [30]:
obj

0    0.0
1    1.0
2    2.0
3    3.0
4    4.0
5    5.0
6    6.0
7    7.0
8    8.0
9    9.0
dtype: float64

In [31]:
obj[0]

0.0

In [32]:
obj[-1] # error cannot use -1 like python list

KeyError: -1

In [33]:
ser = pd.Series(np.arange(5.), index=['a', 'b', 'c', 'd', 'e'])
ser

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [34]:
ser

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [35]:
ser[00]

0.0

In [36]:
ser[-1] # whne you make your index numberic value - 1 not works

4.0

In [39]:
ser.iloc[-1]

4.0

In [40]:
obj.iloc[-1]

9.0