In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
from pandas import Series

In [5]:
cars_dict = {'Malibu':100,'Laccetii':200,'Honda':3880}

In [6]:
type(cars_dict)

dict

In [7]:
cars1 = Series(cars_dict)

In [8]:
cars1

Malibu       100
Laccetii     200
Honda       3880
dtype: int64

In [9]:
'Honda' in cars1

True

In [10]:
cars1['Malibu']

100

In [19]:
models=['Honda','Laceti' ,'Mazda','Jaguar','Malibu']

In [20]:
cars2 = Series(cars_dict,index=models)

In [21]:
cars2

Honda     3880.0
Laceti       NaN
Mazda        NaN
Jaguar       NaN
Malibu     100.0
dtype: float64

# Method

In [22]:
cars2.isnull()

Honda     False
Laceti     True
Mazda      True
Jaguar     True
Malibu    False
dtype: bool

In [23]:
cars2.notnull()

Honda      True
Laceti    False
Mazda     False
Jaguar    False
Malibu     True
dtype: bool

In [24]:
cars2

Honda     3880.0
Laceti       NaN
Mazda        NaN
Jaguar       NaN
Malibu     100.0
dtype: float64

In [26]:
cars1

Malibu       100
Laccetii     200
Honda       3880
dtype: int64

In [27]:
cars1+cars2

Honda       7760.0
Jaguar         NaN
Laccetii       NaN
Laceti         NaN
Malibu       200.0
Mazda          NaN
dtype: float64

In [28]:
cars2.name = 'Avtosalon'

In [30]:
cars2.index.name = 'Modellar'

In [31]:
cars2

Modellar
Honda     3880.0
Laceti       NaN
Mazda        NaN
Jaguar       NaN
Malibu     100.0
Name: Avtosalon, dtype: float64