In [1]:
import pandas as pd

In [2]:
usernames = {"Anvar":"anvar123","Olim":"Olimtoy","Maryam":"Mary1234","Javohir":"Javohir123"}
emails =  {"Anvar":"anvar@gmail.com","Olim":"Olim@mail.ru","Maryam":"Mary33@gmail.com","Javohir":"javohir13@gmail.comn"}

data = {
    'username' : usernames,
    'email':emails
}
df = pd.DataFrame(data)

In [3]:
df

           username                 email
Anvar      anvar123       anvar@gmail.com
Olim        Olimtoy          Olim@mail.ru
Maryam     Mary1234      Mary33@gmail.com
Javohir  Javohir123  javohir13@gmail.comn

In [4]:
df.index

Index(['Anvar', 'Olim', 'Maryam', 'Javohir'], dtype='object')

In [5]:
arr = ['Anvar', 'Olim', 'Maryam', 'Javohir']

'Anvar'

'Olim'

In [9]:
data2 = {
    'username':{"Olim":"olimjom12", "Maryam":"Mary1234"},
    'email':{"Olim":"Olim@mail.ru", "Maryam":"Mary33@gmail.com"}
    
}

In [10]:
df2 = df.append(pd.DataFrame(data2))

In [11]:
df2

           username                 email
Anvar      anvar123       anvar@gmail.com
Olim        Olimtoy          Olim@mail.ru
Maryam     Mary1234      Mary33@gmail.com
Javohir  Javohir123  javohir13@gmail.comn
Olim      olimjom12          Olim@mail.ru
Maryam     Mary1234      Mary33@gmail.com

In [18]:
newind = pd.Index(['Olim','nafisa','hamida'])

In [19]:
newind

Index(['Olim', 'nafisa', 'hamida'], dtype='object')

In [20]:
newind.isin(df2.index) # check index is exists

array([ True, False, False])

In [21]:
df2.index.difference(newind)

Index(['Anvar', 'Javohir', 'Maryam'], dtype='object')

In [22]:
newind.difference(df2.index) # show difference

Index(['hamida', 'nafisa'], dtype='object')

In [24]:
df2.index.union(newind) #union two index

Index(['Anvar', 'Javohir', 'Maryam', 'Maryam', 'Olim', 'Olim', 'hamida',
       'nafisa'],
      dtype='object')

In [25]:
df2

           username                 email
Anvar      anvar123       anvar@gmail.com
Olim        Olimtoy          Olim@mail.ru
Maryam     Mary1234      Mary33@gmail.com
Javohir  Javohir123  javohir13@gmail.comn
Olim      olimjom12          Olim@mail.ru
Maryam     Mary1234      Mary33@gmail.com

KeyError: 3

In [28]:
df2.index.delete(0)

Index(['Olim', 'Maryam', 'Javohir', 'Olim', 'Maryam'], dtype='object')

In [29]:
df

           username                 email
Anvar      anvar123       anvar@gmail.com
Olim        Olimtoy          Olim@mail.ru
Maryam     Mary1234      Mary33@gmail.com
Javohir  Javohir123  javohir13@gmail.comn

In [31]:
newind.drop('hamida') # drop by value

Index(['Olim', 'nafisa'], dtype='object')

In [36]:
newind.insert(1,'asd')

Index(['Olim', 'asd', 'nafisa', 'hamida'], dtype='object')

In [37]:
newind.unique

In [40]:
newind.unique()

Index(['Olim', 'nafisa', 'hamida'], dtype='object')